# Dependências
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
dist/
build/
out/

# Logs
*.log
logs/
*.pid
*.seed
*.pid.lock

# Sistema
.DS_Store
Thumbs.db

# Ambiente
.env
.env.local
.env.*.local

# Cache
.cache/
.tmp/
coverage/
.next/
.nuxt/
.svelte-kit/

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo

# Arquivos de sistema
*.tgz
*.gz
